@{
  Layout = "_Layout";
}

@model PT.Models.Flavor;
<h4>@ViewBag.postAlert</h4>
<h1>Flavor Details </h1>
<hr />
<h3>Name: @Html.DisplayFor(model => model.FlavorName)</h3>
<hr />

@if (@Model.JoinEntries.Count == 0)
{
  <p>This flavor is not assigned to any treats yet.</p>
}
else
{
  <h3>Treats with this flavor:</h3>
  <ul>
    @foreach (var join in Model.JoinEntries)
    {
      @using (Html.BeginForm("DeleteTreat", "Flavors"))
      {
        <li>@Html.ActionLink($"{join.Treat.TreatName}", "Details", "Treat", new { id = join.Treat.TreatId }) <input type="submit" value="Remove" class="btn btn-warning btn-sm" /></li>
        @Html.Hidden("flavorId", @join.FlavorId)
        @Html.Hidden("joinId", @join.TreatFlavorId)
      }
    }
  </ul>
}

<hr />
<p>@Html.ActionLink("Edit this flavor", "Edit", new { id = Model.FlavorId }, new {@class="btn btn-light btn-sm"})
</p>
<div>
  <p>@Html.ActionLink("Assign a treat", "AddTreat", "Flavors", new { id = Model.FlavorId }, new {@class="btn btn-dark btn-sm"})
</div>
</p>
<p>@Html.ActionLink("Delete this flavor", "Delete", new { id = Model.FlavorId }, new {@class="btn btn-danger btn-sm"})
</p>
<p>@Html.ActionLink("Back to flavor list", "Index", null, null, new {@class="btn btn-primary btn-sm"})
</p>