@{
    Layout = "_Layout";
}
@model PT.Models.Treat

<h3>Edit Treat @Html.DisplayFor(model => model.TreatName)</h3>
<hr />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)
    @Html.Label("Treat Name")
    @Html.EditorFor(model => model.TreatName,
        new {@required="required"})

    <input type="submit" value="Save Changes" />
}

<hr />
<p>@Html.ActionLink("Back to treat list", "Index", null, null, new {@class="btn btn-light btn-sm"})</p>